*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: var(--background);
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  background-color: var(--background);
  margin: 0;
  line-height: calc(1em + 0.5rem);
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  all: unset;
  cursor: default;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

:root {
  --ff-primary: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.25rem;

  --mainheader-icons: white;
}

[data-theme="light"] {
  --background: white;
  --background-mainheader: #db4c3f;
  --background-mainheader-hover: #e37267;

  --background-theme-changer: #ff7066;

  --main-icons: black;
  --background-main-hover: #d5d3d3;
  --background-main-hover-accent: #ff706680;

  --caret-mainheader: white;
  --caret-main: black;

  --text-primary: black;
  --text-secondary: #898989;
  --accent: #ff7066;
}

[data-theme="dark"] {
  --background: #1f1f1f;
  --background-mainheader: #282828;
  --background-mainheader-hover: #535353;

  --background-theme-changer: #282828;

  --main-icons: #ffffffde;
  --background-main-hover: #363636;
  --background-main-hover-accent: #ff7066de;

  --caret-mainheader: black;
  --caret-main: white;

  --text-primary: #ffffffde;
  --text-secondary: #898989;
  --accent: #ff7066;
}
